node_modules/
.idea/

# Backend
BackendServer/node_modules/
BackendServer/.idea/
BackendServer/.elasticbeanstalk/*
BackendServer/.elasticbeanstalk/*.cfg.yml
BackendServer/.elasticbeanstalk/*.global.yml
BackendServer/keys/
